body{
    margin: 3% auto;
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: arial;
    color: rgb(255, 255, 255);
    background: #ffffff;
}

body.darkmode {
    background: rgb(255, 255, 255);
    color: rgb(227, 227, 227);
}

a{
    color : #000000
}

h1{
	text-align: center;
	margin: 30% auto;
  
}


.is-hidden{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}

#theme {
    font-size: 20px;
}

#theme:hover {
    cursor: pointer
}